name: .NET

on:
  push:
    branches:
      - 'main'
      - 'release'
  pull_request:
    branches:
      - '**'

env:
  USE_FULL_NUMERIC_PROVIDER: "true"
  MSBUILDDISABLENODEREUSE: "1"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        global-json-file: global.json
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test (.NET 8.0)
      run: dotnet test --no-build --framework net8.0
    - name: Test (.NET 9.0)
      run: dotnet test --no-build --framework net9.0
    - name: Test (.NET 10.0)
      run: dotnet test --no-build --framework net10.0
